{%extends 'base.html' %}

{% block content %}

<div id = "search-bar">
    <span id = "search-icon" class="material-symbols-outlined">search</span>
    <input  id = "search-input" type="search" placeholder = "Search">   
    <span id = "add-icon" class="material-symbols-outlined">add</span>     
</div>

<div id = "filter-box">
    <div class = "has-dropdown">
        <div class = "filter">
            <div class = "filter-text" data-filter-name = "Statut">Statut</div><span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
        <div class = "filter-dropdown hidden">
            <div class = "filter-option">En attente</div>
            <div class = "filter-option">Entretien</div>
            <div class = "filter-option">Accepté</div>
            <div class = "filter-option">Refusé</div>
        </div>
    </div>
    <div class = "filter">Lieu<span class="material-symbols-outlined">arrow_drop_down</span></div>
    <div class = "filter">Entreprise<span class="material-symbols-outlined">arrow_drop_down</span></div>
    <div class = "filter filter-click">Candidature spontanée</div>
    <div class = "has-dropdown">
        <div class = "filter">
            <div class = "filter-text" data-filter-name = "Source">Source</div><span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
        <div class = "filter-dropdown hidden">
            <div class = "filter-option">placeholder</div>
        </div>
    </div>
    <div class = "has-dropdown">
        <div class = "filter">
            <div class = "filter-text" data-filter-name = "Date">Date</div><span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
        <div class = "filter-dropdown hidden">
            <div class = "filter-option">7 derniers jours</div>
            <div class = "filter-option">Plus de 14 jours</div>
            <div class = "filter-option">Plus de 30 jours</div>
        </div>
    </div>
    <div class = "has-dropdown">
        <div class = "filter">
            <div class = "filter-text" data-filter-name = "Dernière MàJ">Dernière MàJ</div><span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
        <div class = "filter-dropdown hidden">
            <div class = "filter-option">7 derniers jours</div>
            <div class = "filter-option">Plus de 14 jours</div>
            <div class = "filter-option">Plus de 30 jours</div>
        </div>
    </div>
</div>

<div id = "main-box">
    <div id = "left-box">
        <div id = "sort-select"> 
            Trier par: &nbsp; <span class = "custom-pink tri tri-actif ">date de création</span> - <span class = "custom-pink tri">date de mise à jour</span><br/>
            Dans l'ordre: &nbsp; <span class = "custom-pink ordre ordre-actif">décroissant</span> - <span class = "custom-pink ordre">croissant</span>
        </div>

        <div id = "nb-res" class="semibold">{{nmb_c}} résultats</div>

        <div id = "query-shower" class = "decroissant">
            
            {% for candidature in candidatures %}
            <div class = "item-box {% if loop.index == 1 %} pressed {% endif %}" 
                data-candi-id = "{{candidature.id}}" 
                data-dernier-maj = "{{candidature.dernier_maj}}"
                data-date-demande = "{{ candidature.date_demande }}"
                data-poste-url = "{{ candidature.lien_candidature }}"
                >
                <div class = "item-box-title">
                    <span class = "nom-poste"> 
                        {% if candidature.candidature_spontanee %} Candidature spontanée
                        {% else %}  {{ candidature.poste }} 
                        {% endif %}
                    </span><br/>
                </div>
                
                <div class = "details">{{ candidature.entreprise }} | {{candidature.ville}} - {{candidature.pays}}</div>
                <div class = "status-icon 
                    {% if candidature.statut == 'Accepté' %} status-green
                    {% elif candidature.statut == 'Refusé' %} status-red
                    {% elif candidature.statut == 'Entretien' %} status-orange
                    {% else %} status-grey
                    {% endif %}
                ">{{candidature.statut}}</div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div id = "right-box">
        <div id = "item-header">
            <div id = "item-header-subcontainer">
                <a id = "nom-poste-emphasis" href="">Website</a><br/>
                <div id = "details-emphasis"></div>
                <div class = "status-icon status-grey"></div>
            </div>
            
            <div id = "crud-operations">
                <div>[UPDATE]</div>
                <div>[EDIT]</div>
                <div>[DELETE]</div>
            </div>
        </div>
        <div id = "item-content">
            <div id = "date-postule-emphasis"></div><br>
            <div id = "reponse-emphasis">
            </div>
            <br>
            <div id = "entretien-emphasis">
            </div>
        </div>

    </div>
</div>

{% endblock %}