{%extends 'base.html' %}

{% block content %}

<div id = "search-bar">
    <span id = "search-icon" class="material-symbols-outlined">search</span>
    <input  id = "search-input" type="search" placeholder = "Search">   
    <span id = "add-icon" class="material-symbols-outlined">add</span>     
</div>

<div id = "filter-box">
    <div class = "filter"><div class = "filter-text">Statut</div><span class="material-symbols-outlined">arrow_drop_down</span></div>
    <div class = "filter">Lieu<span class="material-symbols-outlined">arrow_drop_down</span></div>
    <div class = "filter">Entreprise<span class="material-symbols-outlined">arrow_drop_down</span></div>
    <div class = "filter">Candidature spontanée</div>
    <div class = "filter">Source<span class="material-symbols-outlined">arrow_drop_down</span></div>
    <div class = "filter">Date<span class="material-symbols-outlined">arrow_drop_down</span></div>
    <div class = "filter">Dernière MàJ<span class="material-symbols-outlined">arrow_drop_down</span></div>
</div>

<div id = "main-box">
    <div id = "left-box">
        <div id = "sort-select"> 
            Trier par: <span class = "semibold">date de création</span> - <span class = "custom-pink">date de mise à jour</span><br/>
            Dans l'ordre: <span class = "semibold">croissant</span> - <span class = "custom-pink">décroissant</span>
        </div>
        <div id = "query-shower">
            <div id = "nb-res" class="semibold">666 résultats</div>

            {% for candidature in candidatures %}
            <div class = "item-box {% if loop.index == 1 %} pressed {% endif %}" data-candi-id = "{{candidature.id}}">
                <div class = "item-box-title">
                    <span class = "nom-poste"> {{ candidature.poste }} </span><br/>
                </div>
                
                <div class = "details">{{ candidature.entreprise }} | {{candidature.ville}} - {{candidature.pays}}</div>
                <div class = "status-icon 
                    {% if candidature.statut == 'Accepté' %} status-green
                    {% elif candidature.statut == 'Refusé' %} status-red
                    {% elif candidature.statut == 'Entretien' %} status-orange
                    {% else %} status-grey
                    {% endif %}
                ">{{candidature.statut}}</div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div id = "right-box">
        <div id = "item-header">
            <div id = "item-header-subcontainer">
                <span id = "nom-poste-emphasis"> {{candidatures[0].poste}} </span><br/>
                <div id = "details-emphasis">{{candidatures[0].entreprise}} | {{candidatures[0].ville}} - {{candidatures[0].pays}}</div>
                <div class = "status-icon status-green">Accepté</div>
            </div>
            
            <div id = "crud-operations">
                <div>[UPDATE]</div>
                <div>[EDIT]</div>
                <div>[DELETE]</div>
            </div>
        </div>
        <div id = "item-content">
            <div id = "date-postule-emphasis">Postulé le 01/11/1111</div><br>

            <div id = "reponse-emphasis">
                Réponses de l’entreprise: <br>
                &bull; 01/12/1111: Propose contrat
            </div>
            <br>
            <div id = "entretien-emphasis">
                Entretiens: <br>
                &bull; 24/11/1111: Entretien technique 
            </div>
        </div>

    </div>
</div>

{% endblock %}