* {
    box-sizing: border-box;
 }
 

body{
    margin: 0;
    height: 100vh - 10em;
    align-items: flex-start;
}

/* Custom search bar*/
#search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 60px;
    border-radius: 28px;
    box-shadow: 0 0 5px #AAA;
}

#search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    width: 100%;
    height: 100%;
    padding: 14px;
    
}

#search-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
    
#search-input:focus::placeholder{
    color: transparent;
}

[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
}

#search-icon {
    color: #888;
    margin-left: 14px;
}

/* to show database */
.database-shower{
    width: 80vw;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background: #AAA;
    padding: 14px;
    border-radius: 28px;
}


ul {
    list-style-type: none;
}