body{
    margin: 0;
    height: 100vh;
    align-items: flex-start;
}

/* Custom search bar*/
#search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 14px;
    border-radius: 28px;
    background-color: #FFF;
    box-shadow: 0 0 5px #AAA;
}

#search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    margin-left: 14px;
    width: 300px;
}

#search-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
    
#search-input:focus::placeholder{
    color: transparent;
}

[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
}

#search-icon {
    color: #888;
}