* {
    box-sizing: border-box;
    font-size: 14px;;
}
 

body{
    margin: 0;
    height: 100vh - 10em;
    align-items: flex-start;
}

/* Custom search bar*/
#search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 45px;
    border-radius: 28px;
    box-shadow: 0 0 5px #AAA;
}

#search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    width: 100%;
    height: 100%;    
    padding: 14px;
    font-size: large;
}

#search-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
    
#search-input:focus::placeholder{
    color: transparent;
}

[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
}

#search-icon {
    color: #888;
    margin-left: 14px;
    z-index: -1;
    user-select: none;
}

/* to show database */
.database-shower{
    width: 60vw;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    background: #AAA;
    padding: 14px;
    min-width: 360px;
}

table, td{
    border: 1px solid;
    min-width: none;    
}

tr{
    border-spacing: 0 1em;
}

.item-shower{
    background-color: #FFF;
    margin-bottom: 0.75em;
    width: 100%;    
    border-radius: 10px;
    
}

.col1 {
    width: 70%;
}

.col2 {
    padding: 0.5em;
}

.titre-poste{
    font-size: 18px;
    font-weight: bold;

}

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    text-align: center;
    border-radius: 50%;
    height: 2em;
    width: 2em;
}

.icon-text{
    text-align: center;
}

.grey {
    background-color:grey;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

ul {
    list-style-type: none;
}